{% extends "origin.html" %}

{% block title %}
    Say Hello
{% endblock %}

{% block styles %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body_attribs %}
    class="bg-light"
{% endblock body_attribs %}

{% block content %}
    <div class="container">
        <header class="text-center my-5">
            <h1 class="display-4">
                <strong class="color-uniform">
                    Say Hello
                </strong>
                <small class="text-muted sub-title">
                    to the world
                </small>
            </h1>
        </header>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info" role="alert">
                    {% for message in messages %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block page_content %}
        {% endblock %}

        <footer class="text-center my-4">
            {% block footer %}
                <small>
                     Copyright &copy; 2020 whxcer |
                    <a href="https://github.com/wtraceback/SayHelloWorld" target="_blank" title="Fork me on GitHub">GitHub</a>
                </small>
            {% endblock %}
        </footer>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
